
/* You can add global styles to this file, and also import other style files */

@import './tailwind-use.scss';

html, body {
    overflow: auto;
    min-height: 100%;
}

body {
    font-family: 'Prompt', sans-serif;
}
