.test1 {
    background-color: aqua;
}

.test2 {
    background-color: azure;
}

.title {
    background-color: red;
}

.bg-image {
    background-image: url("../../../assets/bg/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (max-width: 768px) {

    .bg-image {
        background-size: 1000px 100%;
    }
}