<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">PU-Farm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">แผนที่</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/area']" routerLinkActive="router-link-active">ข้อมูลแปลง</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">เกี่ยวกับเรา</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ผู้ใช้งาน
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/userdetail']" routerLinkActive="router-link-active">ข้อมูลผู้ใช้</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="doLogout()">ออกจากระบบ</a>
            </div>
          </li>
      </ul>
      <span class="navbar-text">
        Support By NontawatKB
      </span>
    </div>
  </nav> -->
  <div class="container-fluid p-0 m-0">
    
      <router-outlet></router-outlet> 

  </div>